.leftPage {
    background: URL(/assets/images/loginImg.jpg) no-repeat scroll center;
    background-size: 65%;
    background-position-y: center;
    background-color: #a4c4b5;
    width: 48%;
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.rightPage {
    font-family: sans-serif;
    color: gray;
    background-color: white;
    width: 52%;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.appName {
    font-family: 'Goldest Personal';
    font-weight: normal;
    font-size: 300%;
    text-align: center;
    margin-top: 5%;
    color: dimgray;
}