<div class="leftPage">
</div>
<div class="rightPage">
    <h1 class="appName">{{appName}}</h1>
    <app-login-page *ngIf="existingUser; else newUser" [appName]='appName' (existingUser)='setExistingUser($event)'></app-login-page>
    <ng-template #newUser>
        <app-register-page [appName]='appName' (existingUser)='setExistingUser($event)'></app-register-page>
    </ng-template>
</div>