/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Goldest Personal';
    font-style: normal;
    font-weight: normal;
    src: local('Goldest Personal'), URL(/assets/fonts/GoldestPersonal-1Goe2.woff) format('woff');
}

.required:after {
    content: "*";
    color: red;
    font-size: medium;
}