<div class="newUserPage">
    <p style="font-family:sans-serif;color: gray;">Create new {{appName}} account</p>
    <div class="mainForm">
        <form [formGroup]="newUserForm" (ngSubmit)="register()">
            <div class="loginForm">
                <div class="formGroup">
                    <div style="text-align:'left'"><label class="label required" for="username">User name or Email</label></div>
                    <div><input class="inputField" [class.invalidInput]="username.invalid && username.touched" type="text" formControlName="username" placeholder="email@example.com" /></div>
                    <label class="invalid" *ngIf="username.invalid && username.touched">Username is mandatory</label>
                </div>
                <div class="formGroup">
                    <div style="text-align:'left'"><label class="label required" for="pazzword">Password</label></div>
                    <div><input class="inputField" [class.invalidInput]="pazzword.invalid && pazzword.touched" type="password" formControlName="pazzword" placeholder="enter your password" /></div>
                    <div *ngIf="pazzword.errors && pazzword.invalid && pazzword.touched">
                        <label class="invalid" *ngIf="pazzword.errors?.required">Please enter your password</label>
                        <label class="invalid" *ngIf="pazzword.errors?.pattern">Password minimum length should be 6</label>
                    </div>
                </div>
                <div class="formGroup">
                    <div style="text-align:'left'"><label class="label required" for="confirmPazzword">Confirm Password</label></div>
                    <div><input class="inputField" [class.invalidInput]="newUserForm.get('confirmPazzword').invalid && newUserForm.get('confirmPazzword')!.touched" type="password" name="confirmPazzword" formControlName="confirmPazzword" placeholder="re-enter your password"
                        /></div>
                    <div *ngIf="confirmPazzword.errors && confirmPazzword.invalid && confirmPazzword.touched">
                        <label class="invalid" *ngIf="confirmPazzword.errors?.required">Confirm Password should not be empty</label>
                        <label class="invalid" *ngIf="confirmPazzword.errors?.passWordLength">Password minimum length should be 6</label>
                    </div>
                    <label class="invalid" *ngIf="newUserForm.errors?.mismatch">Passwords do not match</label>
                </div>
                <div class="signUp"><button type="submit" [disabled]="newUserForm.invalid">Sign up</button></div>
            </div>
        </form>
    </div>
    <label style="font-family:sans-serif;font-size: x-small;color: lightgray;display: block;padding-top: 3%;">------------------or------------------</label><br>
    <span class="newAccount">Already have an account? <a href="#" (click)='setExistingUser()'> Sign in</a></span>
</div>