.label {
    font-family: sans-serif;
    font-size: x-small;
}

.mainForm {
    width: 70%;
    margin: 0 auto;
}

.formGroup {
    padding-top: 10px;
}

.inputField {
    width: 100%;
    min-height: 30px;
    border: none;
    border-bottom: 1.25px solid lightgray;
}

.loginForm button {
    margin-top: 5%;
    border-radius: 25px;
    width: 35%;
    height: 35px;
    background-color: dimgray;
    border: none;
    font-family: sans-serif;
    font-size: small;
    color: white;
}

.signIn {
    padding-top: 5%;
    vertical-align: middle;
}

.forgotPassword {
    font-family: sans-serif;
    font-size: x-small;
    padding-top: 3%;
    display: block;
    text-align: right;
}

.newAccount {
    font-family: sans-serif;
    font-size: x-small;
    display: block;
}

.invalid {
    font-size: x-small;
    color: red;
    display: block;
    text-align: left;
    padding-top: 2%;
}

.invalidInput {
    border-color: red;
}