<div class="loginPage">
    <p style="font-family:sans-serif;color: gray;">Welcome to {{appName}}</p>
    <div class="mainForm">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <div class="loginForm">
                <div class="formGroup">
                    <div style="text-align:'left'"><label class="label required" for="username">User name or Email</label></div>
                    <div><input class="inputField" [class.invalidInput]="username.invalid && username.touched" type="text" #username="ngModel" name="username" [(ngModel)]="credentials.username" placeholder="email@example.com" required/></div>
                    <label class="invalid" *ngIf="username.invalid && username.touched">Username is mandatory</label>
                </div>
                <div class="formGroup">
                    <div style="text-align:'left'"><label class="label required" for="pazzword">Password</label></div>
                    <div><input class="inputField" [class.invalidInput]="pazz.invalid && pazz.touched" type="password" #pazz="ngModel" name="pazzword" [(ngModel)]="credentials.pazzword" pattern="[A-Za-z0-9]{6,}" placeholder="enter your password" required/></div>
                    <div *ngIf="pazz.errors && pazz.invalid && pazz.touched">
                        <label class="invalid" *ngIf="pazz.errors.required">Please enter your password</label>
                        <label class="invalid" *ngIf="pazz.errors.pattern">Password minimum length should be 6</label>
                    </div>
                </div>
                <a class="forgotPassword" href="#">Forgot Password?</a>
                <div class="signIn"><button type="submit" [disabled]="loginForm.form.invalid">Sign in</button></div>
            </div>
        </form>
    </div>
    <label style="font-family:sans-serif;font-size: x-small;color: lightgray;display: block;padding-top: 3%;">------------------or------------------</label><br>
    <span class="newAccount">New to {{appName}}?<a href="#" (click)="setNewUser()">Create account</a></span>
</div>