<form #userForm="ngForm">
    <label>Form Value:</label> {{userForm.value | json}}<br>
    <br>
    <div ngModelGroup="credentials">
        <label>Username</label>
        <input type="text" name="username" ngModel><br>
        <label>Password</label>
        <input type="password" name="password" ngModel><br>
        <button>Login</button>
    </div>
</form>